In [ ]:
import pandas as pd
import numpy as np
import nltk
import warnings

%matplotlib inline    

warnings.filterwarnings('ignore')

In [ ]:
dataset = pd.read_csv('/content/sample_data/Youtube01-Psy.csv')

In [ ]:
dataset

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1
...,...,...,...,...,...
345,z13th1q4yzihf1bll23qxzpjeujterydj,Carmen Racasanu,2014-11-14T13:27:52,How can this have 2 billion views when there's...,0
346,z13fcn1wfpb5e51xe04chdxakpzgchyaxzo0k,diego mogrovejo,2014-11-14T13:28:08,I don't now why I'm watching this in 2014﻿,0
347,z130zd5b3titudkoe04ccbeohojxuzppvbg,BlueYetiPlayz -Call Of Duty and More,2015-05-23T13:04:32,subscribe to me for call of duty vids and give...,1
348,z12he50arvrkivl5u04cctawgxzkjfsjcc4,Photo Editor,2015-06-05T14:14:48,hi guys please my android photo editor downloa...,1
349,z13vhvu54u3ewpp5h04ccb4zuoardrmjlyk0k,Ray Benich,2015-06-05T18:05:16,The first billion viewed this because they tho...,0

In [ ]:
new_dataset = dataset[['CONTENT', 'CLASS']]

In [ ]:
import re
import nltk

nltk.download('stopwords')

from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

all_stopwords = stopwords.words('english')
all_stopwords.remove('not')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
new_dataset

                                               CONTENT  CLASS
0    Huh, anyway check out this you[tube] channel: ...      1
1    Hey guys check out my new channel and our firs...      1
2               just for test I have to say murdev.com      1
3     me shaking my sexy ass on my channel enjoy ^_^ ﻿      1
4              watch?v=vtaRGgvGtWQ   Check this out .﻿      1
..                                                 ...    ...
345  How can this have 2 billion views when there's...      0
346         I don't now why I'm watching this in 2014﻿      0
347  subscribe to me for call of duty vids and give...      1
348  hi guys please my android photo editor downloa...      1
349  The first billion viewed this because they tho...      0

[350 rows x 2 columns]

In [ ]:
# removes pattern in the input text
def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for word in r:
        input_txt = re.sub(word, "", input_txt)
    return input_txt

In [ ]:
# remove twitter handles (@user) and store it in new column clean_text
new_dataset['CONTENT'] = np.vectorize(remove_pattern)(new_dataset['CONTENT'], "@[\w]*")

In [ ]:
# remove special characters, numbers and punctuations
new_dataset['CONTENT'] = new_dataset['CONTENT'].str.replace("[^a-zA-Z#]", " ")
new_dataset.head()

                                             CONTENT  CLASS
0  Huh  anyway check out this you tube  channel  ...      1
1  Hey guys check out my new channel and our firs...      1
2             just for test I have to say murdev com      1
3   me shaking my sexy ass on my channel enjoy            1
4            watch v vtaRGgvGtWQ   Check this out         1

In [ ]:
# remove short words

new_dataset['CONTENT'] = new_dataset['CONTENT'].apply(lambda x: " ".join([w for w in x.split() if len(w)>3]))
new_dataset.head()

                                             CONTENT  CLASS
0            anyway check this tube channel kobyoshi      1
1  guys check channel first THIS MONKEYS monkey w...      1
2                              just test have murdev      1
3                         shaking sexy channel enjoy      1
4                       watch vtaRGgvGtWQ Check this      1

In [ ]:
#lower case
new_dataset['CONTENT'] = new_dataset['CONTENT'].apply(lambda x: x.lower())

In [ ]:
new_dataset

                                               CONTENT  CLASS
0              anyway check this tube channel kobyoshi      1
1    guys check channel first this monkeys monkey w...      1
2                                just test have murdev      1
3                           shaking sexy channel enjoy      1
4                         watch vtarggvgtwq check this      1
..                                                 ...    ...
345     this have billion views when there only planet      0
346                                      watching this      0
347      subscribe call duty vids give aways goal subs      1
348  guys please android photo editor download than...      1
349  first billion viewed this because they thought...      0

[350 rows x 2 columns]

data tranformation

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 1420)

In [ ]:
X = cv.fit_transform(new_dataset['CONTENT']).toarray()
y = dataset.iloc[:, -1].values

In [ ]:
# Saving BoW dictionary to later use in prediction
import pickle
bow_path = 'c1_BoW_Sentiment_Model.pkl'
pickle.dump(cv, open(bow_path, "wb"))

### Dividing dataset into training and test set

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

### Model fitting (Naive Bayes)

In [ ]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB()

In [ ]:
# Exporting NB Classifier to later use in prediction
import joblib
joblib.dump(classifier, 'c2_Classifier_Sentiment_Model')

['c2_Classifier_Sentiment_Model']

###Model performance

In [ ]:
y_pred = classifier.predict(X_test)

from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)

accuracy_score(y_test, y_pred)

[[36  3]
 [ 7 24]]

0.8571428571428571